<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GenericMapper">


    <!-- parameterType="String" -->
    <sql id="findOne">select main.* from <include refid="tableName"/> main where main.<include refid="primaryKey"/> = #{mainId}</sql>
    <sql id="findAll">select main.* from <include refid="tableName"/> main</sql>


    <!-- parameterType="String" -->
    <sql id="delete">delete main from <include refid="tableName"/> main where main.<include refid="primaryKey"/>=#{mainId}</sql>

    <!-- parameterType = "java.util.List" -->
    <sql id="deleteByMainIds">
        delete main from <include refid="tableName"/> main where main.<include refid="primaryKey"/> in
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </sql>
    <sql id="deleteAll">delete main from <include refid="tableName"/> main</sql>
</mapper>

