<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.core.dictionary.dao.CoreDicInfoDao">
    <!--表名-->
    <sql id="tableName">core_dic_info</sql>
    <!--主键-->
    <sql id="primaryKey">TYPE_DETAIL_ID</sql>

    <select id="findOne" resultType="CoreDicInfoEntity" parameterType="String">
        <include refid="GenericMapper.findOne"/>
    </select>

    <select id="findAll" resultType="CoreDicInfoEntity">
        <include refid="GenericMapper.findAll"/>
    </select>

    <select id="findAllCount" resultType="Integer">
        <include refid="GenericMapper.findAllCount"/>
    </select>

    <insert id="insert" >
        <include refid="GenericMapper.insert"/>
    </insert>

    <update id="update">
        <include refid="GenericMapper.update"/>
    </update>

    <delete id="delete" parameterType="String">
        <include refid="GenericMapper.delete"/>
    </delete>
</mapper>