<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.core.memberinfo.dao.CoreMemberInfoDao">
    <!--表名-->
    <sql id="tableName">core_member_info</sql>
    <!--主键-->
    <sql id="primaryKey">MEMBER_ID</sql>

    <select id="findOne" resultType="CoreMemberInfoEntity" parameterType="String">
        <include refid="GenericMapper.findOne"/>
    </select>

    <select id="findOneByTreeId" resultType="CoreMemberInfoEntity" parameterType="String">
        SELECT * FROM core_member_info WHERE TREE_ID = #{treeId}
    </select>

    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="loginCheck" resultType="CoreMemberInfoEntity" parameterType="String">
        SELECT * FROM core_member_info WHERE ACCOUNT = #{account} and PASSWORD = #{password}
    </select>

    <insert id="insert" >
        <include refid="GenericMapper.insert"/>
    </insert>

    <update id="update">
        <include refid="GenericMapper.update"/>
    </update>

    <delete id="delete" parameterType="String">
        <include refid="GenericMapper.delete"/>
    </delete>
</mapper>