<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.core.dicinfo.dao.CoreDicInfoDao">
    <!--表名-->
    <sql id="tableName">core_dic_info</sql>
    <!--主键-->
    <sql id="primaryKey">DIC_ID</sql>

    <sql id="_main_info">
        select main.* from <include refid="tableName"/> main
        <if test="searchKey != null">
            where (locate(#{searchKey},main.DIC_NAME)>0 or locate(#{searchKey},main.DIC_CODE)>0 or locate(#{searchKey},main.DIC_DES)>0)
        </if>
    </sql>

    <select id="getMainInfo" resultType="CoreDicInfoEntity">
        <include refid="_main_info"/>
        ORDER BY main.SYS_TIME desc
        <if test="rows != -1">
            LIMIT ${(page-1)*rows},${rows};
        </if>
    </select>
    <select id="getMainCount" resultType="Integer">
        select count(1) from (<include refid="_main_info"/>) c
    </select>

    <select id="findOne" resultType="CoreDicInfoEntity" >
        <include refid="GenericMapper.findOne"/>
    </select>

    <select id="findAll" resultType="CoreDicInfoEntity">
        <include refid="GenericMapper.findAll"/>
    </select>

    <insert id="insert" >
        <include refid="GenericMapper.insert"/>
    </insert>

    <update id="update">
        <include refid="GenericMapper.update"/>
    </update>

    <delete id="delete">
        <include refid="GenericMapper.delete"/>
    </delete>
</mapper>